<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head><style>
    body{
        font-family: Arial, Helvetica, sans-serif; line-height: 1.6; color:black;
    }
    .container{
        max-width: 600px; margin: 0 auto;padding: 20px;
    }
    .header{
        background-color: white;padding: 10px; text-align: center;
    }
    .content{
        padding: 20px;
    }
    .footer{
        font-size: 12px;color: #000;text-align: center;
    }
</style>
<body>
    <div class = 'container'>
        <div class = 'header'>
            <h2>Defect Assignment</h2>
        </div>
        <div class ='content'>
            <p>Dear Employee</p>
            <p>you have been assigned with a new defect with the following details :</p>
            <ul>
                <li><strong>Defect Name :</strong>Task!</li>
                <li><strong>Description :</strong>Complete ASAP</li>
                <li><strong>Deadline :</strong>Aug 27</li>
            </ul>
            <p>
                please confirm details of the email and let me know if you have any queries
            </p>
            <p>Best regards,</p>
            <p>Testing team</p>
        </div>
        <div class="footer"><p>this is an automated message please donot reply to this directly</p></div>
    </div>
</body>
</html>